{% extends 'base.html' %}
{% block content %}


 <!-- Latest compiled and minified CSS 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
 <div style="margin:20px 100px 20px 100px;">
   
   <form action="/Variants_search" method="get"> 
     <input id="pressme" type="button" value="Download">
     <div class="table_tab">
  <ul class="tabs">
  
    <li><a href="#tab1">Gene annotation</a></li>
    <li><a href="#tab2">Population allele frequency/count</a></li>
    <li><a href="#tab3">Functional prediction</a></li>
    {% if Clinical_interpretation|length > 4 %}
    <li><a href="#tab4">Clinical interpretation</a></li>
{% endif %}
    </ul>
    <div class="tab_container">
      <div id="tab1" class="tab_content">
        <table id="genoano" class="display compact" cellspacing="0" width="100%">
          <thead>
            <tr>
              {% for ano in Gene_annotation %}
              <th> {{ano}}</th>
              {% endfor %}
            </tr>
          </thead>

          <tfoot>
            <tr>
              {% for ano in Gene_annotation %}
              <th> {{ano}}</th>
              {% endfor %}
            </tr>
          </tfoot>
                  </table>
                </div>

      <div id="tab2" class="tab_content">
        <table id="population" class="display compact" cellspacing="0" width="100%">
          <thead>
            <tr>
              {% for pop in Population_allele_freq %}
              <th> {{pop}}</th>
              {% endfor %}
            </tr>
          </thead>

          <tfoot>
            <tr>
              {% for pop in Population_allele_freq %}
              <th> {{pop}}</th>
              {% endfor %}
            </tr>
          </tfoot>
                 </table>
               </div>
      
               <div id="tab3" class="tab_content">
                 <table id="Predict" class="display compact" cellspacing="0" width="100%">
                   <thead>
                     <tr>
                       {% for pre in Predict %}
                       <th> {{pre}}</th>
                       {% endfor %}
                     </tr>
                   </thead>

                   <tfoot>
                     <tr>
                       {% for pre in Predict %}
                       <th> {{pre}}</th>
                       {% endfor %}
                     </tr>
                   </tfoot>
                 </table>                 
               </div>
               {% if Clinical_interpretation|length >4 %}
               <div id="tab4" class="tab_content">
                 <table id="Clinical" class="display compact" cellspacing="0" width="100%">
                   <thead>
                     <tr>
                       {% for Clin in Clinical_interpretation %}
                       <th> {{Clin}}</th>
                       {% endfor %}
                     </tr>
                   </thead>

                   <tfoot>
                     <tr>
                       {% for Clin in Clinical_interpretation %}
                       <th> {{Clin}}</th>
                       {% endfor %}
                     </tr>
                   </tfoot>
                 </table>                 
               </div>
               {% endif %}
    </div>
  </div>
</div>


</form>


     {% block js %}
     <!--dataTable-->
	<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link href="//cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.1.1/css/buttons.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/select/1.1.0/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.10,b-1.1.0,b-colvis-1.1.0,b-flash-1.1.0,b-html5-1.1.0,b-print-1.1.0/datatables.min.css"/>
	<script src="//cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.1.1/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" language="javascript" src="//cdn.datatables.net/select/1.1.0/js/dataTables.select.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/s/dt/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.10,b-1.1.0,b-colvis-1.1.0,b-flash-1.1.0,b-html5-1.1.0,b-print-1.1.0/datatables.min.js"></script>

  {% endblock js %}
 <!--tabs-->
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/tabs.css') }}">
  <script>
    $(document).ready(function(){
      $('#pressme').click(function(){
        function test_func(data) {
          console.log(data);
          return data;
        }
        data = test_func({{ Export_result|tojson|safe }});
        var csvContent = "";
        data.forEach(function(infoArray, index){
          dataString = infoArray.join("\",\"");
          dataString = "\"".concat(dataString);
          dataString = dataString.concat("\"");
          csvContent += dataString + "\n";
          
        });
        var blob = new Blob([csvContent], {type: 'text/csv'});
        var filename = "Variants_search_result.csv";
        if(window.navigator.msSaveOrOpenBlob) {
          window.navigator.msSaveBlob(blob, filename);
        }
        else{
          var elem = window.document.createElement('a');
            elem.href = window.URL.createObjectURL(blob);
            elem.download = filename;
            document.body.appendChild(elem);
            elem.click();
            document.body.removeChild(elem);
      }
               
      });
    });
</script>
  <script>
      $(document).ready(function() {

    $('#genoano').DataTable( {
      "processing": true,
      "serverSide":true,
      "ajax": {
        "url":"/Variants_search",
        "data":{
          "User_id":"{{ User_id }}",
          "table_column":"{{ Gene_annotation|join(',') }}"
        }},
        "scrollX": true
    } );
      });
</script>

<script>
  $(document).ready(function() {

    $('#population').DataTable( {
      "processing": true,
      "serverSide":true,
      "ajax": {
        "url":"/Variants_search",
        "data":{
          "User_id":"{{ User_id }}",
          "table_column":"{{ Population_allele_freq|join(',') }}"
        }},     
        "scrollX": true
    } );
  } );
</script>
<script src="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"></script>

<script>
  $(document).ready(function() {

    $('#Predict').DataTable( {

     "processing": true,
      "serverSide":true,
      "ajax": {
        "url":"/Variants_search",
        "data":{
          "User_id":"{{ User_id }}",
          "table_column":"{{ Predict|join(',') }}"
        }},
        "scrollX": true,
      "createdRow": function ( row, data, index ) {
        $('td',row).eq(4).css('background-color', '#f7b479')
        if ( data[4] * 1 == 3 ) {
          $('td', row).eq(4).css('color', 'red');
        }
    
        
        else if ( data[4] * 1 >= 0 ) {
          $('td', row).eq(4).css('color', 'blue');
        }
      }

         } );
  } );
</script>
<script>
  $(document).ready(function() {

    $('#Clinical').DataTable( {
      "processing": true,
      "serverSide":true,
      "ajax": {
        "url":"/Variants_search",
        "data":{
          "User_id":"{{ User_id }}",
          "table_column":"{{ Clinical_interpretation|join(',') }}"
        }},     
        "scrollX": true
    } );
  } );
</script>


 <script type="text/javascript">
  $(function(){
    var _showTab = 0;
    var $defaultLi = $('ul.tabs li').eq(_showTab).addClass('active');
    $($defaultLi.find('a').attr('href')).siblings().hide();
    $('ul.tabs li').click(function() {
      var $this = $(this),
      _clickTab = $this.find('a').attr('href');
      $this.addClass('active').siblings('.active').removeClass('active');
      $(_clickTab).stop(false, true).fadeIn().siblings().hide();
      return false;
      }).find('a').focus(function(){
      this.blur();
    });
      });
    </script>
 
{% endblock content %}  
