{% extends 'base.html' %}
{% block head_title %}|Contact{% endblock %}
{% block content %}
<div class="container">
    <h2>Contact</h2>
    <div class="card border-primary mb-3">
        <div class="card-header">Contact Information</div>
        <div class="card-body">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <p>Boinformatics and Biostatistics Core, NTU Center of Genomic Medicine, National Taiwan University</p>
                <p>
                    E-mail: r04945021@ntu.edu.tw<br>
                    Tel: +886-2-23123456 ext.88685<br>
                    Fax: +886-2-33224179
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}