{% extends 'base.html' %}
{% block head_title %}|User Guide{% endblock %}
{% block content %}
<div class="container">
	<h2>User guide</h2>
	<div class="card border-primary mb-3">
		<div class="card-header">Homepage</div>
		<div class="card-body">
			<div class="table-wrapper-scroll-y my-custom-scrollbar">
				
			</div>
		</div>
	</div>
	<div class="card border-primary mb-3">
		<div class="card-header">Expression Profiles</div>
		<div class="card-body">
			<div class="table-wrapper-scroll-y my-custom-scrollbar">
				
			</div>
		</div>
	</div>
	<div class="card border-primary mb-3">
		<div class="card-header">Variants Search</div>
		<div class="card-body">
			<div class="table-wrapper-scroll-y my-custom-scrollbar">
				
			</div>
		</div>
	</div>
</div>
{% endblock content %}