{% extends 'base.html' %}
{% block content %}
<div style="margin:20px 100px 20px 100px;">
  <h3>Expression profiles</h3>
  <li><font size="3">This function is for users to query gene annotation and tissue-specific gene expression profiles.</font></li>
  <p></P>

<form action="/search" method=post>
  <table class="table table-bordered" width="100%">
    <td class="success"><font size="4"><b>Step1: select the species and reference genome</b></font></td>
    <tr><td class="info"><font size="3">Output gene annotation</font></td></tr>
    <tr><td>
        <p>*please select the species and reference genome you want to see:</p>
   <div class="radio"><label><input type="radio" name="data_Annotation" value="Human" id="Human-id" checked>Homo sapiens(Human)</label></div>
    <div id="select_h" style="text-indent : 2em ;">
      <label class="radio-inline"><input type="radio" name="ref" id="GRCh38-id" value="GRCh38" checked> GRCh38</label>
      <label class="radio-inline"><input type="radio" name="ref" id="GRCh37-id" value="GRCh37" checked> GRCh37</label>
    </div>  

    <div class="radio"><label><input type="radio" name="data_Annotation" value="Mouse" id="Mouse-id" >Mus musculus(House mouse)</label></div>    
    <div id="select_m" style="text-indent : 2em ;">     
  <input type="radio" name="ref" id="GRCm38-id" value="GRCm38"> GRCm38</label>   
  </div> 

      <div class="radio"><label><input type="radio" name="data_Annotation" value="Zebrafish" id="Zebrafish-id">Danio rerio(Zebrafish)</label></div>
  <div id="select_z" style="text-indent : 2em ;"><input type="radio" name="ref" id="GRCz10-id" value="GRCz10"> GRCz10</label>   
</div>
    </tr></td>
    <td class="success"><font size="4"><b>Step 2: Select output information</b></font></td>
    <tr><td class="info"><font size="3">Output gene expression profiles data</font></td></tr>
    <tr><td>
        <span class="help" style="color:red;" name="needed">*Please check at least one species<br /></span>
        <p>please select the tissue you want</p>
        <p><b>Homo sapiens(Human)</b></p>
        <select multiple="multiple" id="expression" name="Human_exp" style="width: 80%;" >
          <option value="H_adipose_tissue">Adipose tissue</option>
          <option value="H_adrenal_gland">Adrenal gland</option>
          <option value="H_appendix">Appendix</option>
          <option value="H_bone_marrow">Bone marrow</option>
          <option value="H_cerebral_cortex">Cerebral cortex</option>
          <option value="H_colon">Colon</option>
          <option value="H_duodenum">Duodenum</option>
          <option value="H_endometrium">Endometrium</option>
          <option value="H_esophagus">Esophagus</option>
          <option value="H_fallopian_tube">Fallopian tube</option>
          <option value="H_gallbladder">Gallbladder</option>
          <option value="H_heart_muscle">Heart muscle</option>
          <option value="H_kidney">Kidney</option>
          <option value="H_liver">Liver</option>
          <option value="H_lung">Lung</option>
          <option value="H_lymph_node">Lymph node</option>
          <option value="H_ovary">Ovary</option>
          <option value="H_pancreas">Pancreas</option>
          <option value="H_placenta">Placenta</option>
          <option value="H_prostate">Prostate</option>
          <option value="H_rectum">Rectum</option>
          <option value="H_salivary_gland">Salivary gland</option>
          <option value="H_skeletal_muscle">Skeletal muscle</option>
          <option value="H_skin">Skin</option>
          <option value="H_small_intestine">Small intestine</option>
          <option value="H_smooth_muscle">Smooth muscle</option>
          <option value="H_spleen">Spleen</option>
          <option value="H_stomach">Stomach</option>
          <option value="H_testis">Testis</option>
          <option value="H_thyroid_gland">Thyroid gland</option>
          <option value="H_tonsil">Tonsil</option>
          <option value="H_urinary_bladder">Urinary bladder</option>
        </select>
        <p><b>Mus musculus(House mouse)</b></p>
        <select multiple="multiple" id="expression" name="Mouse_exp" style="width: 80%;" >

        </select>
        <p><b>Danio rerio(Zebrafish)</b></p>
        <select multiple="multiple" id="expression" name="Zebrafish_exp" style="width: 80%;" >
          <option value="Z_atrium">Atrium</option>
          <option value="Z_bulbus_arteriosus">Bulbus arteriosus</option>
          <option value="Z_ventricle">Ventricle</option>
        </select>
    </tr></td>

<td class="success"><font size="4"><b>Step 3: Input gene symbol or Ensembl gene id list </b></font></td>
    <tr><td>
        
        <div class="form-group">
          <select name="SearchType">
            <option value="Symbol">Gene Symbol</option>
            <option value="Ensembl_id">Ensembl Gene Id</option>
          </select>
          <br>
          <textarea name="search_list" id="search_list" cols="50" rows="3"></textarea><br>
        </div>
    </tr></td>
 </table>
    <input type=submit value=Submit>
    

 </form>
<!-- Multiple select -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/multiple-select.css') }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src= "static/styles/multiple-select.js"></script>
<script>
  $("select[multiple='multiple']").multipleSelect({
    filter: true
  });
</script>




  </div>
  <!-- jQuery v1.11.3 -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
          <!-- Bootstrap v3.3.6 compiled and minified Javascript -->
              <script
                      src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
                            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
                                  crossorigin="anonymous">
                                      </script>
	<script>
$("span[name='needed']").hide();
//$("span[name='needed2']").hide();
//$("div[id='select_a']").hide();
$("div[id='select_m']").hide();
$("div[id='select_z']").hide();
$("#submit").click(function() {  
  
  if($( "input[name='expression']:checked" ).length==0)
  {
    $("span[name='needed']").show();
    return false;
  }
}); 
</script>

<script>
$("input[name='data_Annotation']").change(function(){
        if ($("#Human-id").is(':checked')) {
                
                $("div[id='select_h']").show();
                $("div[id='select_m']").hide();
                $("div[id='select_z']").hide();
                //$("#cellline").attr('required', '');
            }
        if ($("#Mouse-id").is(':checked'))
        {   
                $("div[id='select_h']").hide();
                $("div[id='select_m']").show();
                $("div[id='select_z']").hide();
                //$("#cellline").removeAttr('required');
        }
               if ($("#Zebrafish-id").is(':checked'))
        {   
                $("div[id='select_h']").hide();
                $("div[id='select_m']").hide();
                $("div[id='select_z']").show();
                //$("#cellline").removeAttr('required');
        }
    });
  </script>
  {% endblock content %}
