{% extends 'base.html' %}


{% block content %}
<h2>Expression profiles</h2>
<p class="bg-primary">Query Options</p>
<p class="bg-info">Output Annotation</p>
<form action="/search" method=post>
  <label class="checkbox-inline">

  <input type="checkbox" name="Human" id="Human" value="Human" checked> Human
</label>
<select name="Human_ref">
  <option>GRCh38</option>
  <option>GRCh37</option>
</select>
<label class="checkbox-inline">
  <input type="checkbox" name="Mouse" id="Mouse" value="Mouse"> Mouse(GRCm38)
</label>
<label class="checkbox-inline">
  <input type="checkbox" name="Zibrafish" id="Zibrafish" value="Zibrafish"> Zebrafish
</label>
<p>Please input gene symbol or Ensembl gene id</p>
<div class="form-group">
  <select name="SearchType">
    <option value="Symbol">Gene Symbol</option>
    <option value="Ensembl_id">Ensembl Gene Id</option>
  </select>
  <br>


<textarea name="search_list" id="search_list" cols="50" rows="3"></textarea><br>
</div>
<p class="bg-primary">Select output data</p>
<label class="radio-inline">
  <input type="radio" name="output" id="RNA" value="RNA" checked> RNA
</label>
<label class="radio-inline">
  <input type="radio" name="output" id="Protein" value="Protein"> Protein
</label>
<!--
<select id ="options" >
  <option data-item="ShowMoreRNA" value="RNA">RNA</option>
  <option data-item="ShowMoreProtein" value="protein">Protein</option>
</select>

<div id="helpPanel">
<div id="ShowMoreRNA" class="hiddenContent">
<label class="checkbox-inline">
  <input type="checkbox" name="RNA_field" value="gene_Symbol" checked>Gene Symbol</label>
<label class="checkbox-inline">
  <input type="checkbox" name="RNA_field" value="ensembl_gene_id" checked>Ensembl Gene ID</label>
<label class="checkbox-inline">
 <input type="checkbox" name="RNA_field" value="tissue" checked>Tissue</label>
<label class="checkbox-inline">
  <input type="checkbox" name="RNA_field" value="FPKM" checked>FPKM</label>
<label class="checkbox-inline">
 <input type="checkbox" name="RNA_field" value="LEVEL" checked>RNA Level </label>
<label class="checkbox-inline">
  <input type="checkbox" name="RNA_field" value="chr">Chromosome Name</label>
<label class="checkbox-inline">
  <input type="checkbox" name="RNA_field" value="gene_start">Gene Start</label>
<label class="checkbox-inline">
  <input type="checkbox" name="RNA_field" value="gene_end">Gene End</label>
<label class="checkbox-inline">
  <input type="checkbox" name="RNA_field" value="strand">Strand</label>
<label class="checkbox-inline">
  <input type="checkbox" name="RNA_field" value="gene_description">Gene Description</label>
</div>

<div id="ShowMoreProtein" class="hiddenContent">
<label class="checkbox-inline">
  <input type="checkbox" name="protein_field" value="gene_description">Gene Description</label>
</div>
</div>

<script type = text/javascript >>
  $(document).ready(function(){
    $('#options').change(function(){
      $('#helpPanel div').hide();
      $( "#options option:selected").each(function() {
        var targetDiv = $(this).attr("data-item");
        $('#'+targetDiv).show();
      });
    });
  });

</script>

<script>
  .hiddenContent {
    display: none;
  }
  .visibleContent {
    display: block;
  }

</script>
-->
<br>
<hr>
<button type="submit" class="btn btn-default">Search</button>
</form>
<!-- <input type=submit value="Search"> -->

{% endblock content %}
