{% extends 'base.html' %}
{% block content %}


 <!-- Latest compiled and minified CSS 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
 <div style="margin:20px 100px 20px 100px;">
   
   

<div class="table_tab">
  <ul class="tabs">
  
      <li><a href="#tab1">Gene annotation</a></li>
      <li><a href="#tab2">Population allele frequency/count</a></li>
      <li><a href="#tab3">Functional prediction</a></li>
    </ul>
    <div class="tab_container">
      <div id="tab1" class="tab_content">
        <table id="genoano" class="display" cellspacing="0" width="100%">
          <thead>
            <tr>
              {% for ano in Gene_annotation %}
              <th> {{ano}}</th>
              {% endfor %}
            </tr>
          </thead>

          <tfoot>
            <tr>
              {% for ano in Gene_annotation %}
              <th> {{ano}}</th>
              {% endfor %}
            </tr>
          </tfoot>
          <tbody>
            {% for r in results %}
          </tr>
            {% for anokey in Gene_annotation %}
            
              <td>{{ r[anokey] }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
  </div>
      <div id="tab2" class="tab_content">
        <table id="population" class="display" cellspacing="0" width="100%">
          <thead>
            <tr>
              {% for pop in Population_allele_freq %}
              <th> {{pop}}</th>
              {% endfor %}
            </tr>
          </thead>

          <tfoot>
            <tr>
              {% for pop in Population_allele_freq %}
              <th> {{pop}}</th>
              {% endfor %}
            </tr>
          </tfoot>
          <tbody>
            {% for r in results %}
          </tr>
            {% for popkey in Population_allele_freq %}
            
              <td>{{ r[popkey] }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div id="tab3" class="tab_content">

<table id="Predict" class="display" cellspacing="0" width="100%">
          <thead>
            <tr>
              {% for pre in Predict %}
              <th> {{pre}}</th>
              {% endfor %}
            </tr>
          </thead>

          <tfoot>
            <tr>
              {% for pre in Predict %}
              <th> {{pre}}</th>
              {% endfor %}
            </tr>
          </tfoot>
          <tbody>
            {% for r in results %}
          </tr>
            {% for prekey in Predict %}
            
              <td>{{ r[prekey] }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>






     {% block js %}
     <!--dataTable-->
	<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link href="//cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.1.1/css/buttons.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/select/1.1.0/css/select.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.10,b-1.1.0,b-colvis-1.1.0,b-flash-1.1.0,b-html5-1.1.0,b-print-1.1.0/datatables.min.css"/>
	<script src="//cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.1.1/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" language="javascript" src="//cdn.datatables.net/select/1.1.0/js/dataTables.select.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/s/dt/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.10,b-1.1.0,b-colvis-1.1.0,b-flash-1.1.0,b-html5-1.1.0,b-print-1.1.0/datatables.min.js"></script>

  {% endblock js %}

<script>
  $(document).ready(function() {

    $('#genoano').DataTable( {
      dom: 'Bfrtip',
      buttons: [
        'copy','csv', 'excel', 'print'
      ],
      "bSort": false,
      "scrollX": true
    } );
  } );
</script>

<script>
  $(document).ready(function() {

    $('#population').DataTable( {
      dom: 'Bfrtip',
      buttons: [
        'copy','csv', 'excel', 'print'
      ],
      "bSort" : false,
      "scrollX": true
    } );
  } );
</script>
<script>
  $(document).ready(function() {

    $('#Predict').DataTable( {
      dom: 'Bfrtip',
      buttons: [
        'copy','csv', 'excel', 'print'
      ],
      "bSort" : false,
      "scrollX": true
    } );
  } );

</script>
  <!--tabs-->
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
 <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/tabs.css') }}">
<script type="text/javascript">
  $(function(){
    var _showTab = 0;
    var $defaultLi = $('ul.tabs li').eq(_showTab).addClass('active');
    $($defaultLi.find('a').attr('href')).siblings().hide();
    $('ul.tabs li').click(function() {
      var $this = $(this),
      _clickTab = $this.find('a').attr('href');
      $this.addClass('active').siblings('.active').removeClass('active');
      $(_clickTab).stop(false, true).fadeIn().siblings().hide();
      return false;
      }).find('a').focus(function(){
      this.blur();
    });
      });
    </script>
  

{% endblock content %}  
