{% extends 'base.html' %}
{% block content %}
<div style="margin:20px 100px 20px 100px;">
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/multiple-select.css') }}">
 <h3>Variants search</h3>
<form action="" method=post enctype=multipart/form-data>
 
  <li><font size="3">This function is for users to input the chromosomal coordinates of variants or upload Variant Call Format (vcf) file for searching their gene description, frequency/count and REVEL scores.</font></li>
  <li><font size="3">Currently, Variants search only supports GRCh37/hg19.</font></li>
    <li><font size="3">Input example:
      <div style="margin-left:3em;">
        chr1:69224A&#062T<br>
        chr2:41620T&#062G<br>
      </div>
    </font>
    </li>

    <table class="table table-bordered" width="100%">
      <td class="success"><font size="4"><b>Step 1: Input data</b></font></td>
      <tr>
      <td>
        <textarea name="variants_list" id="variants_list" cols="50" rows="5"></textarea>
        <p>OR</p>
        <input type=file name=file>
      </td>
</tr>
<td class="success"><font size="4"><b>Step 2: Select output information</b></font></td>
<tr>
  <td class="info"><font size="3">Output format</font></td>
</tr>
  <tr>
  <td>
  <label class="radio-inline">
    <input type="radio" name="format" id="freq" value="freq" checked> allele frequency
  </label>
  <label class="radio-inline">
    <input type="radio" name="format" id="count" value="count"> allele count
  </label>
  </td>
</tr>
<tr>
  <td class="info"><font size="3">Population</font></td>
</tr>
  <td class="active"><font size="3">1000genomes</font></td>

<tr><td>
<input type="checkbox" name="Genomes" value="1000Genomes_EAS"><abbr title="East Asian"> 1000Genomes_EAS</abbr></label>
<label class="checkbox-inline">
  <input type="checkbox" name="Genomes" value="1000Genomes_AMR"><abbr title="American"> 1000Genomes_AMR</abbr>
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" name="Genomes" value="1000Genomes_AFR"><abbr title="African"> 1000Genomes_AFR</abbr>
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" name="Genomes" value="1000Genomes_EUR"><abbr title="European"> 1000Genomes_EUR</abbr>
  </label>
  <label class="checkbox-inline">
    <input type="checkbox" name="Genomes" value="1000Genomes_SAS"><abbr title="South Asian"> 1000Genomes_SAS</abbr>
  </label>
</td></tr>
<td class="active"><font size="3">Integrative Japanese Genome Variation Database</font></td>
<tr><td>
<label class="checkbox-inline">
  <input type="checkbox" name="JPN" value="1KJPN"> 1KJPN
</label>
<label class="checkbox-inline">
  <input type="checkbox" name="JPN" value="2KJPN"> 2KJPN
</label>
</td></tr>
 <td class="active"><font size="3">NHLBI Exome Sequencing Project(ESP)</font></td>

 <tr><td>
<label class="checkbox-inline">
  <input type="checkbox" name="ESP" value="AA"> African American
</label>
<label class="checkbox-inline">
  <input type="checkbox" name="ESP" value="EA"> European American
</label>
</td></tr>


<tr>

  <td class="active"><font size="3">Taiwan Biobank</font></td>
 <tr><td>
<label class="checkbox-inline">
 <input type="checkbox" name="TWB" value="TWB"> Taiwanese
</label>

</td></tr>
  <td class="info"><font size="3">gene expression profiles</font></td>
</tr>
<tr><td>
<p>please select the tissue you want</p>
<select multiple="multiple" id="tissue" name="tissue" style="width: 80%;" >
  <option value="H_adipose_tissue">Adipose tissue</option>
  <option value="H_adrenal_gland">Adrenal gland</option>
  <option value="H_appendix">Appendix</option>
  <option value="H_bone_marrow">Bone marrow</option>
  <option value="H_cerebral_cortex">Cerebral cortex</option>
  <option value="H_colon">Colon</option>
  <option value="H_duodenum">Duodenum</option>
  <option value="H_endometrium">Endometrium</option>
  <option value="H_esophagus">Esophagus</option>
  <option value="H_fallopian_tube">Fallopian tube</option>
  <option value="H_gallbladder">Gallbladder</option>
  <option value="H_heart_muscle">Heart muscle</option>
  <option value="H_kidney">Kidney</option>
  <option value="H_liver">Liver</option>
  <option value="H_lung">Lung</option>
  <option value="H_lymph_node">Lymph node</option>
  <option value="H_ovary">Ovary</option>
  <option value="H_pancreas">Pancreas</option>
  <option value="H_placenta">Placenta</option>
  <option value="H_prostate">Prostate</option>
  <option value="H_rectum">Rectum</option>
  <option value="H_salivary_gland">Salivary gland</option>
  <option value="H_skeletal_muscle">Skeletal muscle</option>
  <option value="H_skin">Skin</option>
  <option value="H_small_intestine">Small intestine</option>
  <option value="H_smooth_muscle">Smooth muscle</option>
  <option value="H_spleen">Spleen</option>
  <option value="H_stomach">Stomach</option>
  <option value="H_testis">Testis</option>
  <option value="H_thyroid_gland">Thyroid gland</option>
  <option value="H_tonsil">Tonsil</option>
  <option value="H_urinary_bladder">Urinary bladder</option>

</select>
</tr></td>
<td class="info"><font size="3">Functional prediction scores</font></td>
</tr>
 <tr><td>
<label class="checkbox-inline">
  <input type="checkbox" name="REVEL" value="REVEL"> <abbr title="Rare exome variant ensemble learner">REVEL</abbr> scores</label>
<div id="select_REVEL" style="text-indent : 2em ;">
  <label class="radio-inline"><input type="radio" name="REVEL_threshold" id="REVEL-id" value="0.5" checked><abbr title="75.4% of disease mutations, 10.9% of neutral variants and 12.4% of all ESVs have a REVEL score above 0.5"> 0.5</abbr></label>
  <label class="radio-inline"><input type="radio" name="REVEL_threshold" id="REVEL-id" value="0.75" ><abbr title="52.1% of disease mutations, 3.3% of neutral variants and 4.1% of all ESVs have a REVEL score above 0.75"> 0.75</abbr></label>
</div>
</td></tr>

    </table>

<p></p>
<input type=submit value=Submit> 
<input type="reset" value="Reset" id="btn_reset">
</div> 
   </form>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src= "static/styles/multiple-select.js"></script>
   <script>
     $("select").multipleSelect({
       filter: true
     });
   </script>

   <script>
     $("div[id='select_REVEL']").hide();
     $("input[name='REVEL']").change(function(){
       if ($("input[name='REVEL'").is(':checked')) {
         $("div[id='select_REVEL']").show();
       }
       else {
         $("div[id='select_REVEL']").hide();      
       }
     });
   </script>
  {% endblock content %}           
