<!--tabs-->
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.table_tab {
    clear: left;
    margin: 10px 0px;
}
ul.tabs {
    width: 100%;
    height: 32px;
    border-bottom: 1px solid #999;
    border-left: none;
}
ul.tabs li {
    float: left;
    height: 31px;
    line-height: 31px;
    overflow: hidden;
    position: relative;
    margin-bottom: -1px;
    border: 1px solid #999;
    border-left: 1px solid #999;
    background: #e1e1e1;
}
ul.tabs li a {
    display: block;
    padding: 0 20px;
    color: #000;
    border: 1px solid #fff;
    text-decoration: none;
}
ul.tabs li a:hover {
    background: #ccc;
}
ul.tabs li.active  {
    background: #fff;
    border-bottom: 1px solid #fff;
}
ul.tabs li.active a:hover {
    background: #fff;
}
div.tab_container {
    clear: left;
    width: 100%;
    border: 1px solid #999;
    border-top: none;
    background: #fff;
}
div.tab_container .tab_content {
    padding: 20px;
}
div.tab_container .tab_content h2 {
    margin: 0 0 20px;
}
ol, ul {
    margin-bottom: 0px;
}
body {
    font-size: 20px;
}


